body {
  -webkit-font-smoothing:antialiased;
     -moz-font-smoothing:antialiased;
          font-smoothing:antialiased;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  font-family:'Roboto', 'Arial', sans-serif;
  font-size:16px;
  padding-top:176px;
  background-color:#fff;
}

/*******************
 * HEADER
 *******************/
header {
  position:fixed;
  z-index:100;
  top:0;
  left:0;
  right:0;
  padding:32px 0;
  background-color:#fff;
}
  header h1 {
    margin:0;
    line-height:24px;
    font-weight:bold;
    font-size:18px;
  }
  header h2 {
    margin:0;
    line-height:24px;
    font-size:18px;
  }

footer {
  padding:48px 0 96px;
  line-height:20px;
  font-size:14px;
}

/*******************
 * SECTION
 *******************/
section {
  padding:48px 0;
}
  section h3 {
    padding:0 0 8px;
    line-height:40px;
    font-weight:bold;
    font-size:32px;
    /* color:#C992B4; */
    /* color:#fc4445; */
    /* color:#C64191; */
    color: #7AF864;
  }
  section .lead {
    font-size:24px;
  }
  section p {
    margin-bottom:1em;
  }
  section p small {
    opacity:0.5;
  }
  section a,
  section a:hover {
    /* color: #2C2AD7; */
    /* color:#70D6FF; */
    color:#2868CE;
  }

/*******************
 * INTRO SCREEN
 *******************/
.intro-screen,
.intro-screen header {
  /* background-color:#44a9eb; */
  /* background-col#a8d0e60e6; */
  /* background-color:#2730D8; */
  /* background-color: #89CFF0;  */
  /* #BAFFAD */
  /* background-color: #BFDBFE;  */
  background-color: #55CC81;
   /* #CC99CC; */
   /* testcolor: #A6C6FD;
  testcolor: #AEC6F7;  */
  color:#fff;
   /* #870012; */
  /* color: #00346F; */
  /* color:#7AF864;
  color:#fff;  */
}
  .intro-screen h1,
  .intro-screen h2,
  .intro-screen h3 {
    color:#fff;
  }
  .intro-screen a,
  .intro-screen a:hover {
    /* color:#F8ADA7; */
    /* color: #f8b100; */
    /* color: #023618; */
    color: #FFF056;
    /* color:#fff59d; */
  }

/*******************
 * TRANSITIONS
 *******************/
body,
header {
  -webkit-transition:background-color .5s;
     -moz-transition:background-color .5s;
          transition:background-color .5s;
}